<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 4</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <h1>Senha emitida:</h1>
      <h2>{{ senhasService.senhaRemovida }}</h2> <!-- Exibir a última senha removida aqui -->
    </ion-card-content>
  </ion-card>  

  <ion-card>
    <ion-card-content> 
      <h1> Guichê: </h1> 
      <h2> 1 </h2>
    </ion-card-content>
  </ion-card>

</ion-content>
