<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-button expand="block" (click)="chamarProximaSenha()">Chamar próxima senha</ion-button>
      <ion-button expand="block" (click)="senhasService.chamarSenha()">Chamar próxima senha - SP </ion-button>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-card-content>

      <ion-text>
        <H1 color="white">Senhas na fila</H1>
      </ion-text>

      <ion-list>
        <ion-item *ngFor="let senha of senhasService.senhasArray.ST">
          <div>
            <p>{{ senha }}</p>
          </div>
        </ion-item>
      </ion-list>        

    </ion-card-content>
  </ion-card>
  
</ion-content>
